<% @tweets.each do |e| %>
  <p>
    <%= e.message %>
    <%= (Time.current - e.tdate).to_i / 60 %> 分前
    <%= link_to '表示', "/tweets/#{e.id}" %>
    <%= link_to '削除', "/tweets/#{e.id}", method: :delete %>
    <%= link_to '編集', "/tweets/#{e.id}/edit" %>
  </p>
<% end %>

<%= link_to '新規メッセージ', '/tweets/new' %>