<% if @tweet.errors.present? %>
  <h3 style="color:red;">エラーがありますよ</h3>
  <% @tweet.errors.full_messages.each do |msg| %>
  <li>
    <%= msg %>
  </li>
  <% end %>
<% end %>
<br>

<%= form_for @tweet, url: {action: :create} do |f| %>
  <%= f.label :message, 'メッセージ' %>
  <p>
    <%= f.text_area :message, rows: 5, cols: 80 %>
  </p>
  <p>
    <%= f.submit 'ツイート' %>
  </p>
<% end %>